{% extends "layouts/master.html" %}
{% load static %}


{% block title %} Cart Summary {% endblock title %}

<!-- {% block css %} js here {% endblock css %} -->

{% block content %}

<div class="container">
    <h3 style="margin: 200px 0; ">Cart Summary </h3>

<br>
<br>
<br>

<!-- product items start -->
 {% if cart_products %}
    {% for product in cart_products %}
    <div class="cart-item mb-3 d-flex justify-content-between border
    " >
        <!-- qty plus minus -->
        <div class="qty-layout align-items-center text-center" style="min-width: 42px;">
            <button class="btn cart-plus text-dark"><i class="fa-solid fa-sort-up"></i></button>
            <input  type="text" class="form-control p-0 text-dark cart-input text-center border-0" value="{{ item.quantity }}" readonly>
            <button class="btn cart-minus text-dark"><i class="fa-solid fa-sort-down"></i></button>
        </div>

        <div style="width: 220px;">
            <select class="form-select form-select-sm" name="" id="select{{product.id}}">
                
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                    <option value="" selected>{{ value }}</option>
                    {% endif %}
                {% endfor %}
                
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="card border-0" style="height: 220px;">
            <div class="row g-0">
                <div class="col-3">
                    <img src="{{ product.view_img.url }}" class="object-fit-cover" width="100%" height="100%" alt="...">
                </div>
                <div class="col-9">
                    <div class="card-body py-0">
                        <h5 class="card-title m-0">{{ product.title }}</h5>
                        {% if product.discount_price is None %}
                        <p class="price m-0 p-0"><small class="text-dark">TK. {{ product.price }}Tk </small></p>
                        {% else %}
                        <p class="price m-0 p-0"><small class="text-dark">TK. {{ product.discount_price }}Tk </small></p>
                        <p class="price m-0 p-0"><small class="text-dark text-decoration-line-through text-danger">TK. {{ product.price }}Tk </small></p>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>

        <!-- delete item -->
        <!-- <button class="btn p-0 pe-3 text-danger btn-delete">&#10005;</button> -->
        <button type="button" data-index="{{product.id}}" class="btn p-0 pe-3 text-danger delete-product">&#10005;</button>

        <!-- update-cart -->
       
        <button type="button" data-index="{{product.id}}" class="btn btn-dark update-cart">Update</button>

    </div>
    {% endfor %}

    <h3>Total: ${{ totals}} </h3>

    <br>
    <br>
    <br>

{% else %}
Your Cart is Empty...
{% endif %}
<!-- product items end -->


<br>
<br>
<br>
<br>
<br>
</div>

{% endblock content %}

<!-- {% block js %} js here {% endblock js %} -->

