{% load static %}
<!-- footer start  -->
<footer class="footer py-4">
    <div class="container">
        <div class="footer-wrap">
            <div class="row g-4 g-xl-5 row-cols-2 row-cols-lg-4 mb-4">
                <div class="col">
                    <img src="asset/img/lixmart-logo-icon-white.png" class="logo" alt="...">
                    <a href="tel: +880 17110000000" class="mobile d-block mt-3">
                        <!-- <i class="fa-solid fa-phone me-2"></i> -->
                         +880 1711 000 000</a>
                    <h6 class="hour mt-1"> <i class="fa-regular fa-clock me-2"></i>Work Time: SAT - FRI, 10AM - 11PM</h6>

                    <ul class="social-link d-flex">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i> </a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i> </a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i> </a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Contact Info</h5>
                    <ul class="contact mt-3">
                        <li> <i class="fa-solid fa-location-dot me-2"></i> Bashundhara City Shopping Complex,
                            Level-3, Block-D, Shop 45, 46,
                            Panthapath, Dhaka.</li>
                        <li><a href="mailto: example@gmail.com"><i class="fa-regular fa-envelope me-2"></i> example@gmail.com</a></li>
                        <li><a href="tel: +880 17110000000"><i class="fa-solid fa-phone me-2"></i>+880 1711 000 000</a></li>
                        <li><a href="tel: +880 17110000000"><i class="fa-solid fa-phone me-2"></i>+880 1711 000 000</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Quick Link</h5>
                    <ul class="contact mt-3">
                        <li><a href="#"><i class="fa-solid fa-arrow-right-long me-2"></i> Privacy Policy</a></li>
                        <li><a href="#"><i class="fa-solid fa-arrow-right-long me-2"></i> Return Policy</a></li>
                        <li><a href="#"><i class="fa-solid fa-arrow-right-long me-2"></i> Get Offer</a></li>
                    </ul>
                </div>

                <div class="col">
                    <img src="asset/img/fb-link.jpg" class="photo-link"   alt="...">
                </div>
            </div>

            <!-- payment getway  -->
            <a href="#"> <img src="asset/img/payment-gateway.png" class="payment-img" alt=""> </a>

            <hr>
            <small class="text-center d-block" >All rights reserved &copy; Lixmart</small>
        </div>
    </div>
</footer>
<!-- footer end -->