{% load static %}
<style>
    .dropdown-toggle::after{
        display: none;
    }
</style>
<!--Main Navigation start-->
<header>
    <div class="header-top">
        <!-- Navbar top start-->
        <div class="container header visible-lg">
            <div class=" header-wrap d-flex justify-content-between position-relative">
                
                <div class="logo-lg">
                    <a class="" href="{% url 'index' %}" >
                        <img src="{% static 'img/lixmart-logo.png' %}" class="object-fit-cover logo" height="100%" alt="logo">
                    </a>
                </div>

                <div class="search-lg" >
                    <form action="" role="search">
                        <div class="input-group ">
                            <input type="search" placeholder="Search for products..." aria-label="Search" class="form-control rounded-0 "  aria-describedby="search-btn">
                            <button class="btn search-btn" type="button" ><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
                
                <div class="user-items " >
                    <ul class="d-flex pt-2">
                        <li><a href="tel:+8801711000000"><i class="fa-solid fa-phone"></i></a></li>
                        <li class="mx-3 position-relative"><i class="fa-regular fa-bookmark"></i> 
                            <span class="position-absolute badge rounded-circle" id="cart_quantity">{{ cart | length}}</span>
                        </li>
                        <li class="dropdown">

                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user ms-2"></i>
                            </a>
                        
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'update_user' %}">Profile Update</a></li>
                                <li><a class="dropdown-item" href="{% url 'change_password' %}">Password Change</a></li>
                            </ul>
                        
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>

        <!-- main categories start -->
        <nav class="navbar navbar-expand-lg py-0 ">
            <div class="container">

                <button  class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="hidden-lg">
                    <a class="navbar-brand " href="index.html" >
                        <img src="asset/img/rm-fashion-logo.png" class="object-fit-cover logo-sm" alt="logo">
                    </a>
                </div>

                <div class="hidden-lg"><a href="#" class="user-sm"><i class="fa-regular fa-user"></i></a></div>
                
                <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body overflow-visible">

                        <div class="search-sm align-self-center" >
                            <form action="" role="search">
                                <div class="input-group ">
                                    <input type="search" placeholder="Search for products..." aria-label="Search" class="form-control rounded-0 "  aria-describedby="search-btn">
                                    <button class="btn search-btn" type="button" ><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>
                            

                        <!-- main-categories start  -->
                        <ul class="navbar-nav main-categories justify-content-center flex-grow-1 p-0 m-0">
                            <li class="nav-item mx-2 mx-xl-3" data-bs-dismiss="offcanvas">
                                <a class="nav-link text-uppercase p-0" href="{% url 'index' %}">Home</a>
                            </li>
                            
                            {% for category in categories %}
                                {% if category.parent is None %}  <!-- Only show parent categories -->
                                    <li class="nav-item mx-2 mx-xl-3" data-bs-dismiss="offcanvas">
                                        <a class="nav-link text-uppercase p-0" href="{% url 'category_detail' category.slug %}">
                                            {{ category.name }}
                                            {% if category.children.exists %} 
                                                <i class="fa-solid fa-angle-down"></i>
                                            {% endif %}
                                        </a>
                
                                        <!-- Subcategories list -->
                                        {% if category.children.exists %}
                                        <ul class="sub-categories">
                                            {% for subcategory in category.children.all %}
                                                <li class="sub-item" data-bs-dismiss="offcanvas">
                                                    <a href="{% url 'category_detail' subcategory.slug %}" class="text-uppercase">
                                                        {{ subcategory.name }}
                                                    </a>
                
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>


                    </div>
                </div>
            </div>
        </nav>

    </div>

    <!-- nav bottom start  -->
    <nav class="fixed-bottom bg-white nav-bottom" >
    
        <div class="container">
            <div class=" " >
                <ul class="d-flex justify-content-between " >
                    <li class="nav-item">
                        <a class="nav-link nav-link-sm text-center active" aria-current="page" href="index.html"><i class="fa-solid fa-house"></i><span class="d-block">Home</span></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link nav-link-sm" href="#"><i class="fa-solid fa-bars"></i><span class="d-block">Category</span></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link nav-link-sm " href="#"><i class="fa-solid fa-magnifying-glass"></i><span class="d-block">Search</span></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link nav-link-sm " href="#"><i class="fa-solid fa-cart-shopping"></i><span class="d-block">Cart</span></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link nav-link-sm " href="#"><i class="fa-solid fa-heart"></i><span class="d-block">Wichlist</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav bottom end  -->


</header>
<!--Main Navigation end-->

