
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap cdn css link  -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    
    <!-- custom css link  -->
     <link rel="stylesheet" href="{% static 'css/style.min.css' %}">


    <title>{% block title %} Title {% endblock title %} </title>

    <!-- block css  -->
    {% block css %}
    <style> </style>
    {% endblock css %}


    {% csrf_token %}

    

</head>
<body>
    
    <!-- header -->
    {% block header %}
    {% include 'layouts/header.html' %}
    {% endblock header %}

    <!-- order cart -->
    {% block cart %}
    {% include 'layouts/order_cart.html' %}
    {% endblock cart %}


    <!-- main content start -->
    <main>
        {% block content %}
            main content here
        {% endblock content %}
    </main>
    <!-- main content end -->


    <!-- footer  -->
    {% block footer %} 
        {% include 'layouts/footer.html' %}
    {% endblock footer %}



    <!-- boostrap cdn js link  -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->

    <!-- boostrap js link  -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- custom js link  -->
    <script src="{% static 'js/app.js' %}"></script>


    <!-- AJAX for Adding to Cart js  -->
  
    
<!--     
    <script>
        function addToCart(slug) {
    // Construct the URL using the slug
    const url = `{% url 'add_to_cart' 'slug_placeholder' %}`.replace('slug_placeholder', slug);

    // Use fetch or another method to send a request to the URL
    fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'), // Ensure you send the CSRF token if required
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ /* any data you need to send */ })
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response, e.g., update the cart popup
        console.log(data);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

// Function to get the CSRF token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if this cookie string begins with the name we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    </script> -->

    
    




    <script>
        function addToCart(slug) {
    // Construct the CSRF token
    const csrftoken = getCookie('csrftoken');
    
    const url = "{% url 'add_to_cart' 'slug_placeholder' %}";

    fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `slug=${encodeURIComponent(slug)}`
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert(data.message);  // Display success message
        } else {
            alert(data.message);  // Display error message
        }
    })
    .catch((error) => {
        console.error('Error:', error);  // Handle errors
    });
}




// Helper function to get the CSRF token from the cookies
function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>


    <!-- block js  -->
    {% block js %}
    <script></script> 
    {% endblock js %}

</body>
</html>