



// colors
$primary: #1EC672;
$secondary: #472FFA;
$dark: #1B1B1C;
$warning: #FADE2F;
$info: #6056A5;
$danger: #FA462F;
$white: #ffffff;
$light: #fafafa;

$dark-light: #414146;
$dark-light-extra: #75757E;

// typhography color 
$heading-color: $dark;
$title-color: #414146;
$sub-title-color: #414146;
// $text-color: lighten($color: $dark, $amount: 20);
$text-color: #75757E;
$small-text-color: #75757E;

// background color 
$bg-light: $light;
$bg-deep: #E1E1E1;
$bg-white: $white;
$bg-dark: $dark;

$bg-primary-80: #1EC67280;



