{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} Store | Lixmart {% endblock title %}

<!-- {% block css %}cs here {% endblock css %} -->


<!-- main content start -->
{% block content %}

<!-- products list start -->
<section class="products-store pt-4 pb-5">
    <div class="container">
        <div class="products-store-wrap">
            <div class="row ">
                <!-- products filter start  -->
                <div class="col-3 ">
                    
                    <div class="filter-wrap product-filter rounded mb-5 pb-3">

                        <div class="d-flex px-3 pt-3 pb-2 justify-content-between ">
                            <h5 class="filter ">Filters</h5>
                            <button type="reset" class="btn reset-btn text-danger p-0">Clear</button>
                        </div>
                        <hr class="m-0 ">

                        <!-- filter and close btn  -->
                        <div class="position-relative">
                            <div class="filter-close-btn">
                                <button class="btn btn-dark me-2" title="Close filter" id='filterCloseBtn'>Close</button>
                                <button type="submit" class="btn btn-primary" title=" Filter products">Done</button>
                            </div>
                        </div>
                        

                        <!-- search products -->
                        <div class="search-property px-3 mt-3">
                            <h5 class="mb-2">Search products</h5>
                            <form action=" " class="d-flex " role="search">
                                <input class="form-control " type="search" placeholder="Your Destination" aria-label="Search">
                                <button class="btn " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>

                        <!-- Colors filter  -->
                        <div class="filter-box mt-3 px-3">
                            <h5 class="mb-2">Colors</h5>
                            <div class="filter-items">
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="green" type="checkbox" value="" id="green">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="green">Green</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="green" type="checkbox" value="" id="green">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="green">Blue</label>
                                    <span class="">17</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="green" type="checkbox" value="" id="green">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="green">Red</label>
                                    <span class="">23</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="green" type="checkbox" value="" id="green">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="green">Black</label>
                                    <span class="">47</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="green" type="checkbox" value="" id="green">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="green">Purple</label>
                                    <span class="">21</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="green" type="checkbox" value="" id="green">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="green">Yellow</label>
                                    <span class="">14</span>
                                </div>

                                <span class="readmore" data-more="See More 13" data-less="See Less"></span>
                            </div>
                        </div>
                        <hr class="my-2 mx-3 ">

                        <!--  price range -->
                        <div class="price-range mt-3 px-3" style="margin-bottom: 34px;">
                            <h5 class="mb-2 ">Price (BDT)</h5>
                            <div class="price-input-container mt-3 "> 
                                <div class="price-input d-flex"> 
                                    <div class="price-field me-3"> 
                                        <label class="form-label">Min</label> 
                                        <input type="number" class="min-input" value="10"> 
                                    </div> 
                                    <div class="price-field"> 
                                        <label class="form-label">Max</label> 
                                        <input type="number" class="max-input" value="8500"> 
                                    </div> 
                                </div> 
                                <div class="price-slider-range mt-1 "> 
                                    <div class="price-slider "> </div> 
                                </div> 
                            </div> 

                            <!-- Slider -->
                            <div class="range-input "> 
                                <input type="range" class="min-range" min="0" max="10000" value="10" step="1"> 
                                <input type="range" class="max-range" min="0" max="10000" value="8500" step="1"> 
                            </div>
                        </div> 
                        <!-- <hr class="my-2 mx-3 mt-3"> -->

                        <!-- Size   -->
                        <div class="filter-box mt-3 px-3">
                            <h5 class="mb-2">Size</h5>
                            <div class="filter-items">
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="size" type="checkbox" value="" id="size">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="size">S</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="size" type="checkbox" value="" id="size">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="size">M</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="size" type="checkbox" value="" id="size">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="size">L</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="size" type="checkbox" value="" id="size">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="size">XL</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="size" type="checkbox" value="" id="size">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="size">XXL</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="size" type="checkbox" value="" id="size">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="size">3XL</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="size" type="checkbox" value="" id="size">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="size">4XL</label>
                                    <span class="">10</span>
                                </div>

                                <span class="readmore" data-more="See More 7" data-less="See Less"></span>
                            </div>
                        </div>
                        <hr class="my-2 mx-3 ">

                        <!-- category  -->
                        <div class="filter-box mt-3 px-3">
                            <h5 class="mb-2">Categories</h5>
                            <div class="filter-items">
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="category1" type="checkbox" value="" id="category1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="category1">Shirt</label>
                                    <span class="">54</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="category1" type="checkbox" value="" id="category1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="category1">Panjabi</label>
                                    <span class="">54</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="category1" type="checkbox" value="" id="category1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="category1">Jeans</label>
                                    <span class="">54</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="category1" type="checkbox" value="" id="category1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="category1">Jeans</label>
                                    <span class="">54</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="category1" type="checkbox" value="" id="category1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="category1">Polo-shirt</label>
                                    <span class="">54</span>
                                </div>

                                <span class="readmore" data-more="See More 7" data-less="See Less"></span>
                            </div>
                        </div>
                        <hr class="my-2 mx-3 ">

                        <!-- brands  -->
                        <div class="filter-box mt-3 px-3">
                            <h5 class="mb-2">Brands</h5>
                            <div class="filter-items">
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="brand1" type="checkbox" value="" id="brand1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="brand1"> Yellow</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="brand1" type="checkbox" value="" id="brand1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="brand1"> Zara</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="brand1" type="checkbox" value="" id="brand1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="brand1"> Egle</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="brand1" type="checkbox" value="" id="brand1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="brand1"> Infinity</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="brand1" type="checkbox" value="" id="brand1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="brand1"> Jarman</label>
                                    <span class="">10</span>
                                </div>
                                <div class="form-check d-flex">
                                    <input class="form-check-input" name="brand1" type="checkbox" value="" id="brand1">
                                    <label class="form-check-label text-capitalize ms-2 flex-grow-1" for="brand1"> Cheri</label>
                                    <span class="">10</span>
                                </div>

                                <span class="readmore" data-more="See More 7" data-less="See Less"></span>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <!--products filter end  -->

                <!-- product-list-wrap | right side start  -->
                <div class="col-12 col-lg-9 ">
                    <div class="product-list-wrap">

                        <!-- filter by & search match qty  -->
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <span id="productFilterBtn" title="Click to filter" class="filter-btn me-1 me-sm-2" ><i class="fa-solid fa-filter"></i> Filter <span class="ms-1">|</span></span>
                                <h5 class="mt-2 pt-1 d-inline product-qty-match"> 27 Items Match! </h5>
                            </div>
                            <select name="filter-by" class="filter-by  px-md-3 form-select rounded" style="font-size: 14px; width: 8rem;">
                                <option value="1" selected>Popularity</option>
                                <option value="2">Top Rated</option>
                                <option value="3"> Price Low</option>
                                <option value="4"> Price High</option>
                            </select>
                        </div>

                        <!-- product-cards-wrap start  -->
                        <div class="row row-cols-2 row-cols-md-3 g-3 g-md-4 ">

                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product1.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product2.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product3.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product4.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product5.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product1.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product2.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card card rounded border-0">
                                    <a href="#" class="position-relative">
                                        <img src="asset/img/product3.jpeg" class="card-img-top" alt="...">
                                        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">ELITE Quality Contrast Panjabi I MP-181</h5>
                                        </a>
                                        <p class="price my-3">Tk 399 <span class="text-decoration-line-through price-delete">450</span></p>
                                        <div class="text-center  mb-1"><button type="submit" class="btn btn-white ">Add to Card</button></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- product-cards-wrap end -->


                        <!-- pagination start  -->
                        <div class="mt-5 product-pagination d-flex justify-content-center">
                            <nav aria-label="..." >
                                <ul class="pagination">
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">2</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- pagination start  -->
                        

                    </div>
                </div>
                <!-- product-list-wrap | right side  end  -->

            </div>
        </div>
    </div>
</section>
<!-- products list end -->


{% endblock content %}
<!-- main content end -->


<!-- {% block js %} js here {% endblock js %} -->
