

<div class="product-card card rounded border-0">
    <a href="{% url 'product_details' slug=product.slug %}" class="position-relative">
        <img src="{{ product.view_img.url }}" class="card-img-top" alt="...">
        <div class="rating">  0.0 <i class="fa-solid fa-star"></i> | 00 </div>
    </a>
    
    <div class="card-body">
        <a href="{% url 'product_details' slug=product.slug %}">
            <h5 class="card-title">{{ product.title }}</h5>
        </a>
        {% if product.discount_price is None %}
        <p class="price my-3">{{ product.price | floatformat:"-2" }}Tk</p>
        {% else %}
        <p class="price my-3">{{ product.discount_price | floatformat:"-2" }}Tk <span class="text-decoration-line-through price-delete">{{ product.price | floatformat:"-2" }}Tk</span></p>
        {% endif %}
        <!-- test  -->
        <!-- <select name="" id="qty-cart"  class="form-select form-select-sm  my-2">
                          
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> -->
        <!-- test  -->

        
        <div class="text-center mb-1">
            <!-- <button type="button" class="btn btn-white" value="{{ product.id }}" id="add-cart">Add to Cart</button> -->
            <button type="button" class="btn btn-white add-to-cart" value="{{ product.id }}">Add to Cart</button>

        </div>
        
    </div>
</div>



